<!DOCTYPE html>
<html>
  <head>
    <!-- It lets browser to know how to renderr your page -->
    <meta charset="UTF-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> pageTitle}}
    <p>Some texfr== here</p>

    {{> footer}}
  </body>
</html>