<!DOCTYPE html>
<html>
  <head>
    <!-- It lets browser to know how to renderr your page -->
    <meta charset="UTF-8">
    <title>Maintainence</title>
  </head>
  <body>
    {{> pageTitle}}
    <p>Sorry we will be back soon.......</p>
    {{> footer}}
  </body>
</html>